@import url('https://fonts.googleapis.com/css2?family=Teko&display=swap');

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
    font-family: 'Teko', sans-serif;
    height: 100dvh;
    width: 100vw;
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "avatar info"
        "contact contact";
}

.avatar {
    grid-area: avatar;
    margin: 1em;
}

.info {
    grid-area: info;

    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1em;
}

.info > span:first-child {
    font-size: 5em;
}

.info > span:last-child {
    font-size: 3em;
}

.contact {
    grid-area: contact;
    text-align: center;
    margin: 5em;
}

.contact > a > img {
    width: 2.5em;
    height: 2.5em;
    -webkit-filter: invert(100%);
    filter: invert(100%);
}

.contact a:not(:first-child) {
    margin-left: 2.5em;
}

.avatar > img {
    width: 17em;
    height: 17em;
    border-radius: 50%;
    float: right;
}

@media screen and (max-width: 768px) {
    .avatar > img {
        width: 10em;
        height: 10em;
        border-radius: 50%;
        float: right;
    }

    .contact > a > img {
        width: 2em;
        height: 2em;
    }

    .contact a:not(:first-child) {
        margin-left: 2em;
    }

    .info > span:first-child {
        font-size: 3em;
    }

    .info > span:last-child {
        font-size: 1.5em;
    }
}