.projects {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 2em;
    width: 90%
}

.container section:nth-child(even) {
    background-color: grey;
}

.heading {
    font-size: 2.5em;
}

.subheading {
    font-size: 1.5em;
    display: block;
}

span {
    word-wrap: break-word;
}

video {
    height: 30em;
}

@media screen and (max-width: 768px) {
    .content {
        width: 90%
    }
    .heading {
        font-size: 2em;
    }
    
    .subheading {
        font-size: 1em;
    }
    video {
        height: 15em;
        width: 10em;
    }
}