@import url('https://fonts.googleapis.com/css2?family=Teko&display=swap');

/* elements */

body {
	background-color: black;
	color: white;
	font-family: 'Teko', sans-serif;
	margin: 0;
	padding: 0;
	line-height: 1;
}

a {
	text-decoration: none;
	color: grey;
}

section {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

span {
	display: block;
}

/* classes */

.about {
	width: 60%;
	height: 100svh;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	gap: 1.5em;
}

.avatar {}

.picture {
	width: 100%;
	height: auto;
	display: block;
	border-radius: 50%;
}

.info {
	width: 100%;
}

.name {
	font-size: 20vw;
}

.position {
	font-size: 10vw;
}

.contact {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.icon {
	width: 14vw;
	float: left;
	-webkit-filter: invert(100%);
	filter: invert(100%);
}

.projects {}

.text {}

.heading {
	font-size: 3vw;
}

.subheading {
	font-size: 2vw;
}

.example {
	display: none;
}

@media screen and (min-width: 480px) {}