@import url('https://fonts.googleapis.com/css2?family=Teko&display=swap');

/* elements */

body {
	background-color: black;
	color: white;
	font-family: 'Teko', sans-serif;
	margin: 0;
	padding: 0;
	line-height: 1;
}

a {
	text-decoration: none;
	color: grey;
}

section {
	height: calc(100vh - 20vw);
	padding-top: 10vw;
	padding-bottom: 10vw;
}

span {
	display: block;
}

video {
	width: 100%;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

/* classes */

.about {
	width: 60%;
	height: 100svh;
	padding-top: 0;
	padding-bottom: 0;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	gap: 1.5em;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.content {}

.avatar {}

.picture {
	width: 100%;
	height: 100%;
	display: block;
	border-radius: 50%;
}

.info {
	width: 100%;
}

.name {
	font-size: 20vw;
}

.position {
	font-size: 10vw;
}

.contact {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.icon {
	width: 14vw;
	float: left;
	-webkit-filter: invert(100%);
	filter: invert(100%);
}

.projects {
	width: 80vw;
	margin-left: auto;
	margin-right: auto;

	display: flex;
	flex-direction: column;
}

.text {}

.heading {
	font-size: 5vw;
	font-weight: bold;
}

.subheading {
	font-size: 4vw;
}

.example {
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}

.square {}

.portrait {}

.landscape {}

@media screen and (min-width: 480px) {
	section {
		height: calc(100vh - 48px - 48px);
		padding-top: 48px;
		padding-bottom: 48px;
	}

	.about {
		width: 288px;
	}

	.name {
		font-size: 96px;
	}

	.position {
		font-size: 48px;
	}

	.icon {
		width: 67.2px;
	}

	.projects {
		width: 384px;
	}

	.heading {
		font-size: 24px;
	}

	.subheading {
		font-size: 19.2px;
	}
}

@media screen and (min-width: 1024px) {
	section {
		height: 80vh;
		padding-top: 10vh;
		padding-bottom: 10vh;
	}

	.about {
		/* width: 717px; */
		width: 50em;
	}

	.content {
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: row;
		gap: 1em;
	}

	.avatar {
		width: 50%;
	}

	.picture {
		width: 18em;
		height: 18em;
		float: right;
	}

	.info {
		width: 50%;
		text-align: left;
	}

	.name {
		font-size: 8em;
		margin-top: 0;
	}

	.position {
		font-size: 4em;
	}

	.contact {
		gap: 2em;
		justify-content: center;
	}

	.projects {
		width: 80%;
		display: flex;
		flex-direction: row;
	}

	.text {
		width: calc(50% - 3em);
		margin-right: 3em;
	}

	.heading {
		font-size: 2.5em;
	}

	.subheading {
		font-size: 1.5em;
	}

	.example {
		width: calc(50% - 3em);
		margin-left: 3em;
		display: flex;
		align-items: flex-start;
	}

	video {
		height: auto;
		max-height: 100%;
	}
}